nav {
    text-decoration: none;
    min-height: 12vh;
    width: 100%;
    background-color: #7c8991;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links button {
    margin-right: 20px;
}

.navTitle {
    margin-left: 40px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links a:hover {
    color: lightgrey;
}

.nav-links a {
    margin-right: 20px;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}